<div id="title">{{title}}</div>
<div id="date">Wednesday, November 29, 2017</div>
<div class="text">
    I have visited Seattle three times - twice with my brother and once during a college Spring Break trip. Each time, it consistently rained. (I have not yet gone during the summer.)
</div>
<div class="text">
    My <a href="http://www.alanyao.com/">friend who grew up in Portland</a> told me that you can tell a tourist from a local because the locals don't use umbrellas. I tried to coexist with the rain in this way and, for the most part, didn't mind it. Seattle is an incredibly lush and fresh-smelling city, and I credit the rain for this.
</div>
<div class="text">
    Unlike in some other posts, I did not take any of the pictures below. The iPhone shots were taken by my brother <a href="http://jonathank.im/">Jonathan</a> while the Nikon D750 images are from <a href="https://rogerhub.com/">Roger</a>. Thanks for letting me post them!
</div>
<div class="segment">Food</div>
<div class="text">
    <b>Ellenos Greek Yogurt</b> [<a href="https://www.tripadvisor.com/Restaurant_Review-g60878-d5598906-Reviews-Ellenos-Seattle_Washington.html">Trip Advisor</a>] [<a href="https://www.yelp.com/biz/ellenos-real-greek-yogurt-seattle">Yelp</a>] [<a href="http://www.ellenos.com/">Ellenos</a>]
    | When I think of Seattle, I immediately think of Ellenos. I don't consider myself a fan of Greek yogurt; I'd categorize myself as a casual dabbler. But Ellenos is different. It's so good that I've been four times - in the span of three trips.
</div>
<div class="text">
    It's so mind-blowing that I'll periodically find myself looking up home deliveries - even though they're limited to the Seattle area. (sad face) I can't wait for the day Ellenos gets delivered to California. Amazon Fresh, come through!
</div>
<div class="text">
    If I lived in Seattle, I'd eat here at least one a week. Perhaps it's a good thing I don't live in Seattle. By the way, if you happen to know me in person and happen to be visiting Seattle and happen to be willing to sneak me back some <a href="https://www.amazon.com/Ellenos-Real-Greek-Yogurt-Marionberry/dp/B00IN896HY">Marionberry Pie</a> (my favorite flavor)...please do.
</div>
<div class="text">
    And don't get the smallest "walk-around" size. You're gonna wish you got more. <i>Especially</i> if some guy named Roger decides he doesn't want to order any but then ends up stealing half of <i>your</i> yogurt.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_0010-COLLAGE.jpg"></div>
<div class="text">
    <b>Pie Bar</b> [<a href="https://www.tripadvisor.com/Restaurant_Review-g60878-d4428469-Reviews-Pie_Bar-Seattle_Washington.html">Trip Advisor</a>] [<a href="https://www.yelp.com/biz/pie-bar-seattle-2">Yelp</a>]
    | This is a literal hole in the wall. Okay, I guess there is extremely limited indoor seating as well, but I've always gotten my pie from the window in the wall and wolfed it down while standing on the sidewalk. This is some good pie.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_7682.jpg"></div>
<div class="text">
    <b>Altura</b> [<a href="https://www.tripadvisor.com/Restaurant_Review-g60878-d3206583-Reviews-Altura_Restaurant-Seattle_Washington.html">Trip Advisor</a>] [<a href="https://www.yelp.com/biz/altura-seattle">Yelp</a>] [<a href="https://alturarestaurant.com/">Altura</a>]
    | The Altura tasting menu was an incredible experience. Pricey, but definitely worth it in my book! Each course (some of which are missing from the collage below) was constructed with artistry and precision. The flavors flowed together so seamlessly that it was difficult to pinpoint the contributions of different components to the dish.
</div>
<div class="text">
    My brother and I sat at the counter directly in front of the chefs. It was interesting to watch them prep, cook, and plate; and we were able to observe the head chef designing the next day's brussel sprout dish and soliciting tastings/opinions from another chef.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_2146.jpg"></div>
<div class="segment">Tours</div>
<div class="text">
    <b>Bill Speidel's Underground Tour</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g60878-d1089321-Reviews-Bill_Speidel_s_Underground_Tour-Seattle_Washington.html">Trip Advisor</a>]
    | It turns out that the visible Seattle is actually the second Seattle - built directly on top of the old Seattle, which had various sewage problems. This underground tour took us through portions of old Seattle directly under existing streets! The picture on the right shows a skylight that appears to be a tile mosaic from the sidewalk above.
</div>
<div class="text">
    In addition to observing some very interesting architecture, we listened to a variety of scandalous and scintillating stories about the characters who founded and grew Seattle. The tour guide was a very gifted presenter, and we had a lot of fun.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_0013-COLLAGE.jpg"></div>
<div class="text">
    <b>Boeing Tour</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g58625-d150553-Reviews-Future_of_Flight_Aviation_Center_Boeing_Tour-Mukilteo_Washington.html">Trip Advisor</a>]
    | This tour took us through tunnels below and skywalks above Boeing's factory floors. Boeing's jet construction facility, the largest enclosed building in the world, could fit all of Disneyland within its walls! We viewed the construction processes for Boeing 747, 767, 777, and 787s and observed aircraft in varying stages of completion.
</div>
<div class="text">
    Each stop of the tour provided an overwhelming number of things for my eyes to focus on. I could stare at one section of the factory floor and continually find more and more interesting details - plane parts, tools, structures, signs, workspaces, cafes. I think I could have revisited the tour the next day and still found it visually overstimulating. The tour was an incredible experience and gave me a deeper appreciation for these massive, complicated pieces of technology.
</div>
<div class="segment">Sights</div>
<div class="text">
    <b>Pike's Place Rooftop Garden + Gum Wall</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g60878-d2303028-Reviews-The_Gum_Wall-Seattle_Washington.html">Trip Advisor</a>]
    | Pike's Place is one of the most prominent tourist destinations. Despite it being an incredibly bustling place, we did find one spot of peace. My brother's college friend Jasmine, who lives in the area, showed us a small community garden on the second floor. Accessible by a set of stairs tucked into a back corner of the market, it didn't receive much traffic, and it had incredible views of the Puget Sound and ferris wheel.
<div class="text">
</div>
    The nearby gum wall was impressively disgusting, and we had to take our obligatory pictures with it. I've heard that it gets periodically cleaned out when there's too great a buildup of gum, so you may get unlucky with your visit time.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_0034-COLLAGE.jpg"></div>
<div class="text">
    <b>Seattle Public Library</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g60878-d558679-Reviews-Seattle_Public_Library-Seattle_Washington.html">Trip Advisor</a>]
    | The public library is an architectural work of art. Each floor is interestingly designed, and there are lots of fun places to explore. I especially enjoyed the glass pods that look out onto an escalator. It was fun to make faces at people passing by on the escalator.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_0029.jpg"></div>
<div class="text">
    <b>Hiram M. Chittenden Locks (aka Ballard Locks)</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g60878-d319153-Reviews-Hiram_M_Chittenden_Locks-Seattle_Washington.html">Trip Advisor</a>]
    | These locks separate Lake Union and the other freshwater bodies around Seattle from the saltwater connected to the Pacific Ocean. They are necessary for vessels to bridge the sea level difference between the bodies of water. We were lucky enough to be able to watch a sailboat and motorboat pass a lock to return from sea.
</div>
<div class="text">
    It was also interesting to see the fish ladder, a series of increasingly elevated pools through which salmon can migrate from freshwater to saltwater and back. I'd like to return during the salmon migration season (July to mid-August) to observe the salmon jumping up the ladder.
</div>
<div class="pic"><img src="assets/images/20171129/IMG_2395.jpeg"></div>
<div class="text">
    <b>Chihuly Garden & Glass</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g60878-d3184389-Reviews-Chihuly_Garden_and_Glass-Seattle_Washington.html">Trip Advisor</a>]
    | This museum is a small but thoughtfully designed place. Each piece of art is truly lovely to behold (none of that confusing modern art "nothing on the canvas" nonsense)!
</div>
<div class="text">
    My favorite room is located near the beginning of the route. It juxtaposes colorful Native American blankets with glass baskets inspired by their woven counterparts. Displayed all along one wall is a series of truly breathtaking portraits of Native Americans by the legendary photographer Edward S. Curtis. Each portrait captures such depth of emotion and inspires respect.
</div>
<div class="text">
    I was so taken by the portraits that I bought and read <a href="https://www.goodreads.com/book/show/13202051-short-nights-of-the-shadow-catcher"><i>Short Nights of the Shadow Catcher</i></a>, a biography on the life and work of Edward Curtis. His story is deeply intertwined with the city of Seattle - which was named after Chief Seattle - as he started his life's work by photographing the "last Indian of Seattle." As I read of the risks undertaken, difficulties encountered, and lengths to which Curtis went to capture each moment, I gained an even deeper appreciation for the portraits.
</div>
<div class="text">
    Curtis was convinced that his life's work was to document the culture, language, lifestyle, and beliefs of the numerous Native American tribes at a time when they were being forcefully relocated onto small reservations and stripped of their identity. His longitudinal studies of various tribes allowed him to observe the decay in tribal knowledge and practices as many Native American youth were taken from their families and placed in boarding schools to learn Western culture.
</div>
<div class="text">
    He keenly felt that he was in a race against time as parts of these rich cultures disappeared year by year. He and his team's published writings, photographs, and recordings are now some of the best records historians have about certain cultural elements. The works also provide thoroughly researched alternative accounts of events like Custer's Last Stand at a time when the accepted historical record suffered from victor's viewpoint and discredited the word of Native people.
</div>
<div class="text">
    Despite capturing deeply troubled people, the Curtis portraits also capture the dignity of people who would not bend to a foreign government. They are beautiful and timeless. I highly recommend viewing them in person and reading the excellent book by Timothy Egan.
</div>
<div class="pic"><img src="assets/images/20171129/DSC_1937.JPG"></div>
<div id="space"></div>
