<div id="title">{{title}}</div>
<div id="date">Sunday, September 3, 2017</div>
<div class="text">
    A couple friends and I went to Japan for two and a half weeks (May 24 - June 9, 2016) after graduating from university. We visited Tokyo (6 days), Gujo-Hachiman in Gifu Prefecture (3 days), Kyoto (4 days), and Osaka (2 days).
</div>
<div class="pic"><img src="assets/images/20170903/map.jpg"></div>
<div class="text">
    We solely used public transportation, including <a href="http://www.japan-guide.com/e/e2018.html">Shinkansen</a> (bullet train) between cities. (Google Maps was accurate.) Aside from a ryokan in Gujo-Hachiman, we used <a href="https://www.airbnb.com/">Airbnb</a> for housing. The three major cities (Tokyo, Kyoto, Osaka) were very accessible for English-speaking tourists. It was slightly more challenging in Gujo-Hachiman, which is not a foreign tourist destination, but we were able to manage with Google Translate.
</div>
<div class="text">
    I wanted to document my favorite parts of the trip. (All pictures were taken by me.) I know this post is long overdue, but I suppose now is better than never!
</div>
<div class="segment">Tokyo</div>
<div class="text">
    <b>Shibuya Crossing</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066456-d4403399-Reviews-Shibuya_Pedestrian_Scramble-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>]
    | It was certainly memorable to watch pedestrians scramble across this famous intersection. We also had fun walking across amongst the crowd.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1075.JPG"></div>
<div class="text">
    <b>Hachiko Statue</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066456-d553408-Reviews-Hachiko-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>] [<a href="https://www.lonelyplanet.com/japan/tokyo/attractions/hachiko-statue/a/poi-sig/396603/356817">Lonely Planet</a>]
    | This statue commemorating a loyal dog is located at one of the corners of Shibuya Crossing. A cute kitten had taken up residence between Hachiko's legs when we visited.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1096.JPG"></div>
<div class="text">
    <b>Meiji Jingu</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066456-d1373780-Reviews-Meiji_Jingu_Shrine-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>]
    | I really enjoyed visiting this shrine, which was accessible via a 15 minute walk through a peaceful, shaded forest path. I enjoyed the quiet, calming walk, and there were many interesting things to observe once there.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1253.JPG"></div>
<div class="text">
    <b>Kawaii Monster Cafe</b> [<a href="https://www.tripadvisor.com/Restaurant_Review-g1066456-d8505071-Reviews-Kawaii_Monster_Cafe_Harajuku-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>] [<a href="https://www.yelp.com/biz/kawaii-monster-cafe-harajuku-%E6%B8%8B%E8%B0%B7%E5%8C%BA">Yelp</a>]
    | This psychedelic, creepy-cute cafe was a complete tourist trap, but still lots of fun! The waiters were dressed as kawaii monsters, the restaurant decor was crazy, the food was colorful, and the cafe staff performed a show on the revolving carousel. There was an entrance fee, and the food/drinks were overpriced, but I thought it was worth seeing for the novelty. I'm not certain I'd be able to experience anything like it outside of Harajuku.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1392.JPG"></div>
<div class="text">
    <b>Waterbus from Asakusa to Odaiba</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066451-d1373716-Reviews-Tokyo_Cruise_Sumida_River-Minato_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>] [<a href="http://www.suijobus.co.jp/en/">Tokyo Cruise</a>]
    | When we visited Odaiba, a man-made island, we took a waterbus the way there and a train the way back. The cruise boat passed under many rainbow bridges, and it was a nice way to see the buildings along the Sumida River. The cruise boat was quite futuristic looking, and it matched the look of Odaiba.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1725.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_1681.JPG"></div>
<div class="text">
    <b>Oedo Onsen Monogatari</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066449-d532056-Reviews-Odaiba_Tokyo_Oedo_Onsen_Monogatari-Koto_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>] [<a href="https://www.yelp.com/biz/%E6%9D%B1%E4%BA%AC%E3%81%8A%E5%8F%B0%E5%A0%B4-%E5%A4%A7%E6%B1%9F%E6%88%B8%E6%B8%A9%E6%B3%89%E7%89%A9%E8%AA%9E-%E6%B1%9F%E6%9D%B1%E5%8C%BA">Yelp</a>]
    | This onsen (hot springs bath) theme park in Odaiba was definitely one of the highlights of Tokyo. We received yukatas to wear around the building, soaked in gender-separated baths and mixed-gender foot baths, and ate food.
</div>
<div class="text">
    One important note: There are many customs associated with communal baths, so it is worth reviewing <a href="https://www.insidejapantours.com/blog/2015/02/17/japanese-etiquette-101-how-to-onsen/">onsen etiquette</a> before visiting one. I've also heard that people with tattoos (no matter if they are small or covered) are not allowed into this onsen.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1783.JPG"></div>
<div class="text">
    <b>Yasukuni</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066443-d555799-Reviews-Yasukuni_Shrine-Chiyoda_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>]
    | Yasukuni Shrine was high up on my bucket list as it commemorates those who lost their lives while fighting for Japan. In fact, parts of the shrine are said to hold the souls of those who died during WWII, and many foreign visitors have found the museum and commemorative statues to espouse a controversial view of the war.
</div>
<div class="text">
    I visited very early in the morning before the museum was open and found a group of elderly people exercising on the grounds. I also enjoyed the relaxing garden and koi pond on the premises. Though I unfortunately couldn't view the museum, I did find some marks of the Japanese perspective of the war.
</div>
<div class="text">
    In particular, I found a monument dedicated to <a href="https://en.wikipedia.org/wiki/Radhabinod_Pal">Radhabinod Pal</a>, an Indian judge on the International Military Tribunal for the Far East, which made determinations on Japanese war crimes during WWII. He notably questioned the legitimacy of the tribunal as an exercise in victor's justice and found all accused to be not guilty.
</div>
<div class="text">
    The <a href="assets/images/20170903/yasukuni.pdf">pamphlet</a> I picked up at the monument (and subsequently scanned) celebrated this dissent but ignored that Pal had also found that "<i>the evidence is still overwhelming that atrocities were perpetrated by the members of the Japanese armed forces against the civilian population of some of the territories occupied by them as also against the prisoners of war</i>." Pal was clearly a more centrist jurist who understood the claims of both sides, but the monument seems to only acknowledge the parts of his determination favorable to Japan.
</div>
<div class="text">
    Of course, I have my biases as a Korean-American (Korea, having been invaded and occupied by Japan multiple times before and during WWII, and America, having been an Allied victor). However, it did seem from the little I was able to see of Yasukuni that the shrine does indeed have a biased view of history. I shall stop here - as this is mostly tangential to the point of this post and many others more knowledgeable than me have written on this topic - but I do wish that I could have spent more time at this place and visited the museum.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1845.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_1862.JPG"></div>
<div class="text">
    <b>Tsukiji Fish Market</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1066444-d11867754-Reviews-Tsukiji_Fish_Market-Chuo_Tokyo_Tokyo_Prefecture_Kanto.html">Trip Advisor</a>]
    | As a sushi and sashimi aficionado, I had to make a stop by this famous fish market before leaving Tokyo. I had some omakase at one of the shops at the market (I unfortunately cannot remember which one), and it was some of the freshest nigiri I've had the pleasure of consuming. I'd compare the quality of the fish to omakase at <a href="https://www.yelp.com/biz/shiros-seattle">Shiro's</a> in Seattle (but at a fraction of the price point).
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1908.JPG"></div>
<div class="segment">Gujo-Hachiman</div>
<div class="text">
    Gujo-Hachiman is a small rural town nestled along two merging rivers (Nagara &amp; Yoshida) in Gifu Prefecture. From the moment I heard about it from a <a href="https://www.youtube.com/watch?v=Fqpr_2uKzwY">YouTube video by Rachel and Jun</a>, I'd had my heart set on visiting this magical water city.
</div>
<div class="text">
    I was not disappointed in the slightest by my visit. Every lofty expectation I'd had was only exceeded. I sincerely found it to be the most beautiful place I have ever visited. If I can give only one recommendation to those hoping to visit Japan, it would be to try visiting at least one rural village as they are so different from the major cities (usual tourist destinations). My friend Roger visited a different <a href="https://rogerhub.com/_version_m1/u2/3193.jpg">rural area</a>, and he also seemed to really enjoy it.
</div>
<div class="text">
    <b>Route to Gujo-Hachiman</b>
    | The trip from Tokyo to Gujo-Hachiman was quite the experience. We first took the <a href="http://www.japan-guide.com/e/e2018.html">Tokaido Shinkansen</a> (high speed bullet train) from Tokyo to Nagoya. The bullet train reached speeds up to 170-180 mph yet felt so smooth. It was stunning to see small towns fly past our windows. After my trip, I looked up how this engineering feat was possible and spent an enjoyable hour watching <a href="https://www.youtube.com/watch?v=_Ja59uLKVqI">Richard Hammond's Engineering Connections BBC Documentary</a> and felt even more admiration for bullet trains.
</div>
<div class="text">
    We then took a standard JR train from Nagoya to Mina-Ota. We were worried that we would miss our connection to the final train, but some nice employees guided us to the platform we needed to be at for the last leg of our trip.
</div>
<div class="text">
    The final leg was on the <a href="http://www.gujohachiman.com/kanko/nagara_railway_e.html">Nagaragawa Tetsudo</a>, a single-car railroad train from Mina-Ota to Gujo-Hachiman that wound its way slowly up the mountains along the Nagara River. The track was surrounded by nature and crossed multiple bridges. A group of schoolchildren got on at one of the lower stations and got off one-by-one at stations higher up the mountain. I wondered if riding that rail car was their daily way of getting to school.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_1967.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_1984.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_3145.JPG"></div>
<div class="text">
    <b>Yoshidaya Ryokan</b> [<a href="https://www.tripadvisor.com/Hotel_Review-g1019682-d1134332-Reviews-Yoshidaya-Gujo_Gifu_Prefecture_Chubu.html">Trip Advisor</a>] [<a href="http://www.yoshidayaryokan.com/index_e.php">Yoshidaya</a>]
    | Yoshidaya was a lovely, family-run ryokan. It provided an onsen bath, small inner garden court, tatami mat floors with futons, and yukata to wear. The attached restaurant served eel as its specialty, and it was so delicious!
</div>
<div class="text">
    I should note that I really have <a href="http://danielnguyen.io/">Daniel Nguyen</a> to thank for making this stay possible. The Yoshidaya site had no way of booking through email or web form. As the only option was to call, I set up a Japanese phone number via <a href="https://www.rebtel.com/en/">Rebtel</a> and tried to reserve a room. However, the recipient of my call could not understand my English. Thankfully, Daniel is quite proficient in Japanese and was thus able to call on my behalf. Thanks, Daniel!
</div>
<div class="pic"><img src="assets/images/20170903/DSC_2038.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_3118.JPG"></div>
<div class="text">
    <b>Gujo-Hachiman Castle</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g1019682-d1548573-Reviews-Gujo_Hachiman_Castle-Gujo_Gifu_Prefecture_Chubu.html">Trip Advisor</a>]
    | We took a minor hike to get to this traditional wooden castle. It was interesting to see the inside of the castle, and the views of the valley from the top floors were beautiful. This photo shows one of the guard towers of the castle.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_2296.JPG"></div>
<div class="text">
    <b>River &amp; Historical District</b>
    | We spent most of our time wandering around the river and the historical district. We visited many of the small sites listed on this <a href="http://www.gujohachiman.com/kanko/pdf/self_guided_walk.pdf">self-guided walking tour</a> created by the <a href="http://www.gujohachiman.com/kanko/index_e.html">Gujo-Hachiman Tourism Association</a>. We took many relaxing walks along rivers and played in the water. Following the water took us to different parts of the city that we hadn't known to visit, and each place was beautiful and lush.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_2053.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_2722.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_3072.JPG"></div>
<div class="segment">Kyoto</div>
<div class="text">
    <b>9h Capsule Hotel</b> [<a href="https://www.tripadvisor.com/Hotel_Review-g298564-d6028872-Reviews-9_Hours_Capsule_Hotel_Kyoto-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | This unique capsule hotel was another find from <a href="https://www.youtube.com/watch?v=FVAkuBSkaw0">Rachel and Jun's YouTube channel</a>. The one in the video was at Narita airport, but we went to the one in Kyoto. It had separate sets of floors for men/women. Some floors held lockers, toilets, and showers. Other floors were filled with capsules for sleeping. The hotel also had lounge rooms.
</div>
<div class="text">
    Because the entrance to the capsule is covered by only a piece of fabric that rolls down, it was imperative to be quiet during our stay. We wanted to wake up early to visit Fushimi Inari-taisha in the morning, so we tried out the ambient lighting alarm clock. Rather than making a sound, this interesting clock wakes you up naturally by changing the lighting in the capsule. I was shocked that it worked - I woke up naturally at exactly the time I had set.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3165.JPG"></div>
<div class="text">
    <b>Fushimi Inari-taisha</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d321456-Reviews-Fushimi_Inari_taisha_Shrine-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | This iconic site consists of a shrine at the base of a mountain and a series of long walking paths covered by hundreds of brightly colored torii, many of which were donated by different Japanese businesses. It reportedly takes 2 hours to walk to the top. (We didn't have time to make it to the top.)
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3255.JPG"></div>
<div class="text">
    <b>Tea Ceremony at En</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d2221045-Reviews-Tea_Ceremony_Experience_En-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>] [<a href="http://www.teaceremonyen.com/">En</a>]
    | We visited En, a small teahouse in Kyoto's Gion district (famous for geisha/geiko). We were able to observe a beautiful tea ceremony, hear an explanation of each of the components of the ceremony, and then try making our own matcha tea with powder and a whisk. The sounds of the ladle, water, and whisk were so pronounced in the silence of the ceremony.
</div>
<div class="text">
    I was stunned by how precisely each step was conducted and how so much thought was put into even the slightest action. One part that stands out in my memory was when the host explained how the "beautiful spot" of the cup was facing her during the making process, but before presenting the finished cup, it must be turned so that the "beautiful spot" faces the receiver.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3307.JPG"></div>
<div class="text">
    <b>Kiyomizu-dera</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d321401-Reviews-Kiyomizu_dera_Temple-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | This temple was architecturally quite interesting. It was built into the side of a mountain and looks over a forest area. The surrounding garden grounds were also quite lovely to walk through.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3561.JPG"></div>
<div class="text">
    <b>International Manga Museum</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d1490962-Reviews-Kyoto_International_Manga_Museum-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | I unfortunately didn't take pictures of this visit, but it was still memorable. The International Manga Museum had exhibits on the history of manga (changing art styles, etc.) and an enormous library-sized collection of manga (in Japanese and English). There were many benches and tables, so we spent a nice afternoon reading.
</div>
<div class="text">
    <b>Tenryu-ji</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d1386106-Reviews-Tenryuji_Temple-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | This temple in Arashiyama had a large, carefully cultivated garden with a viewing path. There were also relaxation rooms with large doorways from which you could see the garden. I love this photo of a young family spending a happy afternoon at the garden.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3773.JPG"></div>
<div class="text">
    <b>Arashiyama Bamboo Forest</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298564-d545940-Reviews-Arashiyama-Kyoto_Kyoto_Prefecture_Kinki.html">Trip Advisor</a>]
    | Arashiyama also had an expansive bamboo forest with shady trails through the forest.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_3997.JPG"></div>
<div class="segment">Osaka</div>
<div class="text">
    <b>Umeda Sky Building</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298566-d10240005-Reviews-Umeda_Sky_Building-Osaka_Osaka_Prefecture_Kinki.html">Trip Advisor</a>]
    | This tall building was architecturally quite interesting. It was split into two halves with an observation deck suspended in the middle. There were two tunnel-shaped escalators strung in the air between one half of the building and the observation desk.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_4621.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_4635.JPG"></div>
<div class="text">
    <b>Spa World</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298566-d320973-Reviews-Spa_World-Osaka_Osaka_Prefecture_Kinki.html">Trip Advisor</a>] [<a href="http://www.spaworld.co.jp/english/">Spa World</a>]
    | Having enjoyed Oedo Onsen Monogatari in Odaiba so much, we went to another onsen theme park. While Oedo Onsen was more traditional, Spa World was more like a theme park. It had a half-indoor, half-outdoor water park with slides and rivers.
</div>
<div class="text">
    The gender-separated bathing floors were far more elaborate with European or Asian themed rooms (e.g. Atlantis, Bali). It also had mixed-gender sauna rooms representing 8 different countries (ranging from extremely hot rooms to salt rooms to ice rooms) and rooms filled with massage chairs. I also enjoyed a Korean body scrub (during which an appalling amount of dead skin left my body) and was pleasantly surprised to find that my technician was Korean.
</div>
<div class="text">
    <b>Dotonburi</b> [<a href="https://www.tripadvisor.com/Attraction_Review-g298566-d325333-Reviews-Dotonbori-Osaka_Osaka_Prefecture_Kinki.html">Trip Advisor</a>]
    | Each street in Dotonburi was bustling with restaurants, shopping, and street food. We tried takoyaki (a ball-shaped snack of octopus and green onion in batter), okonomiyaki (a savory pancake made with eggs and flour), and matcha ice cream in a bread.
</div>
<div class="pic"><img src="assets/images/20170903/DSC_4782.JPG"></div>
<div class="pic"><img src="assets/images/20170903/DSC_4808.JPG"></div>
