<div id="title">{{title}}</div>
<div id="date">Sunday, February 9, 2014</div>
<div class="text">
    This post was largely motivated by Libby Rainey's Daily Californian article entitled
    "<a href="http://www.dailycal.org/2014/02/07/breeding-tech-elite/"><u>Breeding the
    Tech Elite</u></a>." I have often had discussions with my fellow CS friends about
    the growing importance of technology, and a question we often ask ourselves is,
    <i>"What can we as engineers do with our skills and knowledge to better society?"</i> I
    think this is an important question to ask as our responsibility to society grows
    with increased influence and resources.
</div>
<div class="text">
    However, I felt that Ms. Rainey's article did an extremely poor job of asking this
    question or providing a positive contribution to the discussion. Rather, the article
    pointlessly singles out a fellow student and is perhaps far more insulting than
    anything he may have done to the author (not returning a text). Furthermore, the
    article relies heavily on stereotypes that are both not representative of the CS
    population at large and are not constructive. Rather, many CS students have found this
    portrayal of their lives to be inaccurate and even disparaging.
</div>
<div class="text">
    My point in writing this post, however, is not to poke holes in factual inaccuracies
    or to discuss my problems with the article. Rather, I hope to contribute to the
    question posed above and alluded to briefly in the article. How can we as computer
    scientists use our skills, knowledge, and - arguably - our newly "dignified" status
    to help others?
</div>
<div class="segment">Technology can help people and change the world.</div>
<div class="text">
    I think that there are already a myriad of wonderful examples of tech companies and
    computer scientists that change the world and better society. A discussion of what
    is possible with computer science should first start with what has already been
    accomplished.
</div>
<div class="text">
    1. <a href="http://www.intel.com/content/www/us/en/homepage.html"><u>Intel</u></a>'s
    upcoming hackathon with the <a href="http://csua.berkeley.edu"><u>CSUA</u></a>
    (Computer Science Undergraduate Association) is called
    "<a href="https://www.facebook.com/events/215689138624129/"><u>Code for Good</u></a>,"
    and that name is not simply for show. Rather, the whole theme of the hackathon is create
    applications on hardware (that can link with satellites and sensors) for disaster
    relief and diaster preparedness. Yes, Intel has revolutionary advances in processors,
    immersive gaming, and 3D augmented reality, but at the same time, it makes sure
    to develop for social issues like diaster relief,
    <a href="http://www.intel.com/content/www/us/en/technology-in-education/programs-for-women-and-girls.html"><u>education
    for women and girls</u></a>, and even <a href="http://www.intel.com/content/www/us/en/policy/policy-conflict-minerals.html">
    <u>conflict free minerals from Congo</u></a>.
</div>
<div class="text">
    2. Many computer science student-run clubs on campus seek to help society through
    computer science. <a href="http://bptech.berkeley.edu/"><u>Cal Blueprint</u></a>
    creates applications and websites for non-profits such as the Berkeley Public Schools
    Fund and Suitcase Clinic, and <a href="http://berkeley.codethechange.org/"><u>Code the
    Change</u></a> does something similar and even runs a DeCal through which students
    can help non-profits while gaining web development skills.
</div>
<div class="text">
    3. Last semester, <a href="http://www.raphaelhouse.org/"><u>Raphael House</u></a>,
    a shelter for homeless families, reached out to CS student organizations such
    as HKN and CSUA to find a tutor for a homeless father who wanted to develop skills
    for a job to support his two sons. I posted to the CSUA Facebook group only once but
    received volunteer requests from at least six different students, each of whom was
    willing to take time out of their busy schedules to bus to Oakland's Tenderloin
    district to teach this motivated man what they have themselves been learning here
    in Berkeley's CS program. My contact at Raphael House told me that they were
    so grateful and overwhelmed by the generous response of our CS undergraduates.
</div>
<div class="text">
    4. Palantir is known for its incredibly powerful algorithms, and it created an algorithm
    to help combat <a href="https://www.palantir.com/philanthropy-engineering/human-trafficking/"><u>
    human trafficking</u></a>. Palantir understands how powerful technology and algorithms
    can be, so it uses them in their own philanthropy engineering. Already, it has partnered
    with police departments to help rescue victims and prosecute criminals.
</div>
<div class="segment">Education is key.</div>
<div class="text">
    One of the things I love most about the CS community is its openness to friendship
    and collaboration. I have seen students in other majors compete negatively. However,
    this is strangely absent in CS. Students help each other on problem sets and projects
    and teach each other what they know. There are so many student organizations run <i>by</i>
    students and created <i>for</i> students. Honor societies like
    <a href="https://hkn.eecs.berkeley.edu/"><u>HKN</u></a> and <a href="http://upe.berkeley.edu/"><u>UPE</u></a>
    provide tutoring services, clubs like CSUA, <a href="http://hackersatberkeley.com/"><u>Hackers@Berkeley</u></a>,
    and <a href="https://ieee.berkeley.edu/"><u>IEEE</u></a> hold lots of hackathons
    and workshops to teach fellow students and provide opportunities, and organizations
    like <a href="http://www-inst.eecs.berkeley.edu/~auwicsee/"><u>AWE</u></a> and
    <a href="http://swe.berkeley.edu/"><u>SWE</u></a> provide support services for women
    in the major. We know how to teach each other and take care of each other, and this
    extends to what we do for those outside of Berkeley.
</div>
<div class="text">
    One of the core reasons for poverty, income inequality, and a host of other social
    problems is a lack of education. Some industries characterized by influence and affluence
    - such as business - try to keep their skills a hidden art. However, this is exactly
    opposite for computer science. Most of the engineers I know both in person and also
    online through spaces like <a href="http://stackoverflow.com/"><u>StackOverflow</u></a>
    and <a href="https://news.ycombinator.com/"><u>Hacker News</u></a> are willing to teach
    others what they know. And since education is so key, encouraging the pursuit of
    education is computer science directly helps combat the disparity in access to
    education.
</div>
<div class="text">
    I am a huge supporter of <a href="http://code.org/"><u>Code.org</u></a> and other
    campaigns to encourage people to educate themselves. In fact, the very same
    <a href="http://inst.eecs.berkeley.edu/~cs10/sp14/"><u>CS 10</u></a>
    class mentioned in the Daily Cal article is designed to teach non-majors about
    programming and technology. This class is advanced through the efforts of our very
    own Berkeley professors such as <a href="http://www.cs.berkeley.edu/~bh/"><u>Brian Harvey</u></a>
    and <a href="http://www.cs.berkeley.edu/~ddgarcia/"><u>Dan Garcia</u></a>. Furthermore, Prof. Harvey is a
    great supporter of introducing public school students to <a href="http://snap.berkeley.edu/"><u>Scratch/Snap!</u></a>
    from an early age. There is a huge push to share technology and knowledge with
    others, and this is something that makes CS very different than other fields
    traditionally considered "elite."
</div>
<div class="segment">Individuals must make their own commitments.</div>
<div class="text">
    My point in saying all this is to say that I think there is something fundamental to most
    computer scientists and engineers that goes against the grain of gentrification and
    elitism. I think the common voice is NOT, "We have great jobs, we are rich, and we
    don't need you." No, we say, "Look at what CS has done for us. Look at what is
    possible with technology. You can learn, too!" And this is something that really
    redeems the field in my eyes.
</div>
<div class="text">
    And ultimately, I think it comes down the to the fact that each of us as individuals
    have to commit ourselves to be socially and globally conscious so that we can help
    others less fortunate and share the joy that is CS. Anyways, those are my two cents.
    Thanks for reading.
</div>
<div id="space"></div>
