@media (min-width: 1140px) {
    #content {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 40px 80px;
    }
}
@media (max-width: 1140px) {
    #content {
        width: 880px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 40px 80px;
    }
}
#pagetitle {
    padding-top: 30px;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 20px;
}
#content {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.resource {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #CCC;
}
.resourcetitle {
    font-weight: 500;
    font-size: 20px;
}
.text {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 10px;
}
.condensedtext {
    line-height: 22px;
}
.quote {
    padding: 0px 20px;
    font-style: italic;
}
