@media (min-width: 1140px) {
    #content {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 40px 80px;
    }
}
@media (max-width: 1140px) {
    #content {
        width: 880px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 40px 80px;
    }
}
#pagetitle {
    padding-top: 30px;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}
@media (min-width: 1140px) {
    .project {
        padding-top: 30px;
    }
}
@media (max-width: 1140px) {
    .project {
        padding-top: 50px;
    }
}
@media (min-width: 1140px) {
    .projpic {
        border: 1px solid #999;
        width: 550px;
        display: inline-block;
    }
}
@media (max-width: 1140px) {
    .projpic {
        border: 1px solid #999;
        width: 480px;
        display: inline-block;
    }
}
@media (min-width: 1140px) {
    .projinfo {
        display: inline-block;
        float: right;
        width: 410px;
    }
}
@media (max-width: 1140px) {
    .projinfo {
        display: inline-block;
        float: right;
        width: 360px;
    }
}
@media (min-width: 1140px) {
    .projtitle {
        margin: 10px 0px 3px;
        font-size: 30px;
        font-weight: 700;
    }
}
@media (max-width: 1140px) {
    .projtitle {
        margin: 0px 0px 3px;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
    }
}
.projtime {
    font-size: 15px;
    font-style: italic;
    line-height: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
@media (min-width: 1140px) {
    .projdescript {
        margin: 15px 0px;
        font-size: 15px;
        font-weight: 100;
        line-height: 24px;
    }
}
@media (max-width: 1140px) {
    .projdescript {
        margin: 13px 0px;
        font-size: 15px;
        font-weight: 100;
        line-height: 23px;
    }
}
.buttonbar {
    margin-top: 5px;
}
.button {
    display: inline-block;
    margin-right: 10px;
    padding: 7px;
    width: 80px;
    text-align: center;
    background: #D0D0D0;
    border-radius: 2px;
}
@media (min-width: 1140px) {
    #csuapic {
        height: 335px;
    }
    #graphpic {
        height: 415px;
    }
    #jumpingpic {
        height: 416px;
    }
    #textpic {
        height: 401px;
    }
    #enigmapic {
        height: 393px;
    }
    #personalpic {
        height: 335px;
    }
}
@media (max-width: 1140px) {
    #csuapic {
        height: 292.5px;
    }
    #graphpic {
        height: 362px;
    }
    #jumpingpic {
        height: 363px;
    }
    #textpic {
        height: 350px;
    }
    #enigmapic {
        height: 343px;
    }
    #personalpic {
        height: 292.5px;
    }
}
