@media (min-width: 1135px) {
    #content {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 20px 80px;
    }
}
@media (max-width: 1135px) {
    #content {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 20px 80px;
    }
}
@media (max-width: 1035px) {
    #content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 40px 20px 80px;
    }
}
#pagetitle {
    padding: 30px 0px;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}
.job {
    background-color: white;
    padding: 25px;
    border-radius: 2px;
    margin-bottom: 20px;
}
.jobtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2px;
}
.jobemployer {
    margin-bottom: 2px;
    font-weight: 100;
}
.jobtime {
    font-size: 15px;
    font-style: italic;
    padding-bottom: 10px;
    display: inline-block;
}
.joblocation {
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #DDD;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 10px;
}
.jobdescript {
    border-top: 1px solid #00B2EE;
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
.jobdescript a {
    color: #00B2EE;
}
