html {
    background-color: #F6F6F6;
}
body {
    margin: 0px;
    font-family: "Open Sans", "Helvetica", "Arial", sans serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
img {
    height: 100%;
}
.clear {
    clear: both;
}
#sidebar {
    width: 40px;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: #444;
}
#more {
    height: 25px;
    position: fixed;
    bottom: 15px;
    left: 7px;
}
#sidebarfull {
    left: -65px;
    overflow: hidden;
    width: 65px;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: #444;
}
.icon {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #DDD;
    margin-top: 12px;
    padding: 3px;
    border-radius: 2px;
}
.tag {
    display: none;
    position: fixed;
    left: 75px;
    background: #D0D0D0;
    padding: 5px 3px;
    width: 70px;
    border-right: 2px;
    text-align: center;
}
#abouttag {
    top: 22px;
}
#worktag {
    top: 79px;
}
#projectstag {
    top: 136px;
}
#blogtag {
    top: 193px;
}
#resumetag {
    top: 251px;
}
#emailtag {
    top: 308px;
}
#content {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
#title {
    padding-top: 40px;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}
#date {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-top: 10px;
}
#text {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
}
#space {
    margin-top: 20px;
    border-bottom: 2px solid black;
}
#references {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
.reference {
    margin-top: 5px;
}
