<html>
<head>
    <title>{{title}} | Sarah Gwin</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{#blogpost}}../{{/blogpost}}assets/css/common.css"/>
    {{#additional_css}}
    <link rel="stylesheet" type="text/css" href="assets/css/{{css}}.css"/>
    {{/additional_css}}
    <link rel="icon" type="image/x-icon" href="{{#blogpost}}../{{/blogpost}}assets/favicon.ico"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="{{#blogpost}}../{{/blogpost}}assets/js/jquery-1.9.1.js"></script>
    <script src="{{#blogpost}}../{{/blogpost}}assets/js/script.js"></script>

    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X4C3LP0CC0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X4C3LP0CC0');
    </script>
</head>
<body>
    <div id="sidebar">
        <div id="sidebar-content">
            <div class="sidebar-name">Sarah Jiyun Gwin</div>
            <div class="sidebar-category">ABOUT</div>
            <a href="{{#blogpost}}../{{/blogpost}}index.html"><div class="sidebar-item">Home</div></a>
            <a href="{{#blogpost}}../{{/blogpost}}work.html"><div class="sidebar-item">Work</div></a>
            <a href="{{#blogpost}}../{{/blogpost}}projects.html"><div class="sidebar-item">Projects</div></a>
            <a href="{{#blogpost}}../{{/blogpost}}organizations.html"><div class="sidebar-item">Organizations</div></a>
            <div class="sidebar-category">RESOURCES</div>
            <a href="{{#blogpost}}../{{/blogpost}}cs61b.html"><div class="sidebar-item">CS 61B</div></a>
            <a href="{{#blogpost}}../{{/blogpost}}blog.html"><div class="sidebar-item">Blog</div></a>
            <div class="sidebar-category">CONTACT</div>
            <a href="{{#blogpost}}../{{/blogpost}}assets/resume.pdf"><div class="sidebar-item">Resume</div></a>
            <a href="https://github.com/sarahjkim"><div class="sidebar-item">GitHub</div></a>
            <a href="https://www.linkedin.com/in/sarahjkim"><div class="sidebar-item">LinkedIn</div></a>
            <a href="mailto:hi@sarahgwin.com"><div class="sidebar-item">Email</div></a>
            <div id="more">
                <!-- Read More designed by P.J. Onori from The Noun Project --!>
                <img src="{{#blogpost}}../{{/blogpost}}assets/images/more.svg">
            </div>
        </div>
    </div>
    {{#blog}}
    {{>blogbar}}
    {{/blog}}
    <div id="content">
        {{#index}}
        {{>index}}
        {{/index}}
        {{#blog}}
        {{>blog}}
        {{/blog}}
        {{#cs61b}}
        {{>cs61b}}
        {{/cs61b}}
        {{#organizations}}
        {{>organizations}}
        {{/organizations}}
        {{#projects}}
        {{>projects}}
        {{/projects}}
        {{#work}}
        {{>work}}
        {{/work}}
        {{#blogpost}}
        {{>blogpost}}
        {{/blogpost}}
    </div>
</body>
</html>
