<div id="pictureofme"></div>
<div id="whiteside">
    <div id="aboutme">
        <div id="name">Sarah Jiyun Kim</div>
        <div id="description">
            UC Berkeley Computer Science, 2016
        </div>
        <div class="header">Hello, World!</div>
        <div class="text">
            I am a software engineer at Google. Previously, I was a student at UC Berkeley, where I was involved in the teaching community.
        </div>
        <div class="text">
            In my spare time, I enjoy reading books, learning more about the world, eating delicious food, spending time with family and friends, and sleeping. I also recently became interested in photography.
        </div>
        <div class="text">
            Thanks for visiting my site!
        </div>
    </div>
</div>
