<div id="pictureofme"></div>
<div id="whiteside">
    <div id="aboutme">
        <div id="name">Sarah Jiyun Gwin</div>
        <div id="description">
            UC Berkeley Computer Science, 2016
        </div>
        <div class="header">Hello, World!</div>
        <div class="text">
            I am a follower of Jesus Christ, which means I am infinitely far from perfect but loved and saved by a holy God. I attend <a href="https://www.truenorthsv.org/">True North Church</a>.
        </div>
        <div class="text">
            I'm married to a wonderful husband, <a href="https://bwgwin.com/">Ben</a>.
        </div>
        <div class="text">
            I am a software engineer at Google. Previously, I was a student at UC Berkeley, where I was involved in the teaching community.
        </div>
        <div class="text">
            In my spare time, I enjoy reading books, learning more about the world, eating delicious food, spending time with family and friends, and sleeping. I also dabble in photography.
        </div>
        <div class="text">
            Thanks for visiting my site!
        </div>
    </div>
</div>
