<div id="pagetitle">Organizations</div>
<div class="job">
    <div class="jobtitle">Upsilon Pi Epsilon</div>
    <div class="jobemployer">Member, Previously IT Committee Member</div>
    <div class="jobtime">February 2014 - Present</div>
    <div class="joblocation">Berkeley, CA</div>
    <div class="jobdescript">
        I am a member of the UPE Nu Chapter, UC Berkeley's CS honors society. I initiated with the Spring 2014 class.</br>
        While a candidate (Feb - May 2014), I was a member of the IT Committee, where I worked on the back-end of our <a href="http://upe.berkeley.edu/">website redesign</a>. Though I am no longer part of the IT Committee, you can follow their progress at the UPE <a href="https://github.com/upenu/website">GitHub repository</a>.
    </div>
</div>
<div class="job">
    <div class="jobtitle">Computer Science Undergraduate Association</div>
    <div class="jobemployer">Previously Member, Webmaster, Officer, VP Industrial Relations</div>
    <div class="jobtime">June 2013 - December 2014</div>
    <div class="joblocation">Berkeley, CA</div>
    <div class="jobdescript">
        <ul>
            <li>Webmaster (September 2013 - December 2014)</li>
            I redesigned the CSUA <a href="http://csua.berkeley.edu/">website</a>. <a href="http://www.alexchu.me/">Alex Chu</a> recently ported it to a Django app. I have stopped working on this website, but you can follow its progress <a href="https://github.com/CSUA/CSUA-Website">here</a>.
            <li>Officer (September 2013 - September 2014)</li>
            I maintained the office and helped run events such as general meetings, hackathons, social events, and industry-sponsored info sessions.</br>
            <li>VP Industrial Relations (December 2013 - February 2014)</li> I was the liaison between the CSUA and industry. I recruited sponsors for hackathons and events and worked with the EECS department to host
            recruiting events. I also helped run the Spring 2014 <a href="http://ucbstartupfair.com/">Startup Fair</a>.
        </ul>
    </div>
</div>
<div class="job">
    <div class="jobtitle">UC Berkeley Engineers Without Borders</div>
    <div class="jobemployer">Previously Coagulation & Web Design Team Member</div>
    <div class="jobtime">January 2013 - December 2013</div>
    <div class="joblocation">Berkeley, CA</div>
    <div class="jobdescript">
        As a member of the coagulation team in Spring 2013, I researched, designed, built, and tested a coagulation and sand filtration system to remove arsenic from groundwater in Peru (Huatta and Carancas). I was on the Web Design team in Fall 2013 to update and improve the chapter's <a href="http://ewb.berkeley.edu/">website</a>.
    </div>
</div>
