.pic {
    border-radius: 4px;
    overflow: hidden;
}
.sidebyside {
    width: 880px;
    margin-left: -100px;
}
.leftpic {
    height: 304px;
    display: inline-block;
}
.rightpic {
    height: 304px;
    display: inline-block;
}
#pic2 {
    border: grey solid 1px;
}
#pic5 {
    border: grey solid 1px;
    padding: 10px 25px 5px;
    background-color: white;
}
