.pic {
    border-radius: 4px;
}
#pic1 {
    height: 387px;
}
#pic2 {
    height: 220.5px;
    border: grey solid 1px;
}
.sidebyside {
    width: 880px;
    margin-left: -100px;
}
#pic3 {
    height: 304px;
    display: inline-block;
}
#pic4 {
    height: 304px;
    display: inline-block;
}
#pic5 {
    height: 397.5px;
    border: grey solid 1px;
    padding: 10px 25px 5px;
    background-color: white;
}
