.pic {
    border-radius: 4px;
    border: grey solid 1px;
    overflow: hidden;
}
#pic1 {
    margin: 10px 60px 0px;
    border: none;
}
#pic2 {
    margin: 10px 110px 0px;
}
#pic6 {
    margin: 10px 50px 0px;
}
