.pic {
    border-radius: 4px;
    border: grey solid 1px;
}
#pic1 {
    height: 350px;
    margin: 10px 77px 0px;
    border: none;
}
#pic2 {
    height: 450px;
    margin: 10px 112px 0px;
}
#pic3 {
    height: 435;
}
#pic4 {
    height: 413px;
}
#pic5 {
    height: 340px;
}
#pic6 {
    height: 400px;
    margin: 10px 80px 0px;
}
#pic7 {
    height: 201px;
}
#pic8 {
    height: 408px;
}
#pic9 {
    height: 220px;
}
