.journal {
    background-color: white;
    padding: 10px 20px 13px;
    border: 1px solid #61B329;
    border-radius: 2px;
}
.journal-entry {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
