/* Basic */
a {
    color: black;
}
#content {
    max-width: 680px;
    margin: 0 auto 40px;
    padding: 0 40px 0 80px;
}
#title {
    padding-top: 40px;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}
#date {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-top: 10px;
}
.segment {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}
.text {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
}
.text a {
    text-decoration: underline;
}
.reference a {
    text-decoration: underline;
}
#space {
    margin-top: 20px;
    border-bottom: 2px solid black;
}

/* Pictures */
.pic {
    margin-top: 10px;
    border-radius: 4px;
}
.pic > img {
    width: 100%;
}
.caption {
    text-align: center;
    font-size: 13px;
    font-style: italic;
    margin-top: 5px;
    font-weight: 400;
}

/* References */
#references {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
.reference {
    margin-top: 5px;
}
